body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: blue;
  transform: matrix(1, 0, 0, 1, 0, 0);
  overflow: hidden;
}

#image1 {
  width:auto;
  max-height: 100%; 
} 

.homepagepicture{
  display: flex; 
  justify-content: center;
}

