body {
    background: #e2ba2d;
}

.footer {
    display: flex; 
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    
    background: linear-gradient(180deg, #631F1F 0%, #9F0D0D 79.17%, #000000 100%), #FD2B2B;
    transform: rotate(-180.00deg);
}

.header {
    display: flex; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;

    background: rgba(85, 82, 5, 0.795);

}

.pointcounter {
    position: fixed;
    top: 1.5%;
    left: 85%;
    font-family: Spinnaker;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.img {

    bottom: 20px;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex; 
    justify-content: center;
    
    
}

.getbutton {
    position: fixed;
    z-index:100;  
}

#moneybutton {
    position: fixed;
    z-index:200;  
}

.gamblebutton {
    
    top: 75%;
    left: 35%;
    position: fixed;
    z-index:200;
    border-radius: 100%;


}

.container{    
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    display: flex;
    left: 39.5%;
    top: 45%;
    position: fixed;
    z-index:200;

}

.firstnum {
    margin: 55px;
    
}

.secondnum{
    margin: 55px;    

}

.thirdnum{
    margin: 55px;

}
.flash{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    position:fixed;
    left: 45%;
    top: 10%;
    z-index: 250;

}